<head>
	<!-- meta -->
	<meta name="baidu-site-verification" content="GfVp0d6ZBk" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="{{keywords}}">
    <meta name="description" itemprop="description" content="{{description}}">
	<title>{{title}}</title>
	<!-- css -->
	<link rel="stylesheet" href="/static/front/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/front/css/ionicons.min.css">
	<link rel="stylesheet" href="/static/front/css/pace.css">
	<link rel="stylesheet" href="/static/front/css/custom.css">
	<link href='/static/front/img/favicon.ico' rel='icon' type='image/x-icon'/>
	<!-- js -->
	<script src="/static/front/js/jquery-2.1.3.min.js"></script>
	<script src="/static/front/js/bootstrap.min.js"></script>
	<script src="/static/front/js/pace.min.js"></script>
	<script src="/static/front/js/modernizr.custom.js"></script>
	<link type="text/css" rel="stylesheet" href="/static/front/css/shCoreEmacs.css"/>
    <script type="text/javascript" src="/static/front/js/syntaxhighlighter/shCore.js"></script>
    <script type="text/javascript" src="/static/front/js/syntaxhighlighter/shAutoloader.js"></script>
    <script type="text/javascript" src="/static/front/js/my.js?version=0.1"></script>
</head>
